<div class="pane panel-primary">
    <div class="panel-heading">
        <h2>Lista salas de reunião</h2>
    </div>
    <div class="panel-body">
        <table class="table table-stripped">
            <thead class="thead-dark">
                <tr>
                    <th>Id</th>
                    <th>Reunião</th>
                    <th>Data</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of rooms">
                    <td>{{r.id}}</td>
                    <td>{{r.name}}</td>
                    <td>{{r.date | date:"dd/MM/yyyy"}}</td>
                    <td>{{r.startHour}}</td>
                    <td>{{r.endHour}}</td>
                    <td>
                        <button (click)="detailsRoom(r.id)" class="btn btn-danger">Detalhes</button>
                        <button (click)="updateRoom(r.id)" class="btn btn-info" style="margin-left: 10px;">Atualizar</button>
                        <button (click)="deleteRoom(r.id)" class="btn btn-danger" style="margin-left: 10px;">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>